apiVersion: kafka.strimzi.io/v1beta1
kind: Kafka
metadata:
  name: my-kafka-cluster
  namespace: kafka
spec:
  kafka:
    version: 3.6.1 # Choose your desired Kafka version
    replicas: 3
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      process.roles: broker,controller # Enable KRaft
    storage:
      type: ephemeral # Use ephemeral storage
  entityOperator:
    topicOperator: {}
    userOperator: {}
  controller: # KRaft Controller Configuration
    replicas: 3
    storage:
      type: ephemeral # Ephemeral storage for controller
