name: Kyverno Policy Validation

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  kyverno-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Kyverno CLI
        run: |
          curl -LO https://github.com/kyverno/kyverno/releases/latest/download/kyverno-linux-amd64
          chmod +x kyverno-linux-amd64
          sudo mv kyverno-linux-amd64 /usr/local/bin/kyverno

      - name: Validate Kubernetes Manifests
        run: |
          kyverno apply ./policies -r ./manifests --logLevel=info
